################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Bank/v15
/Bank/obj/Debug
/Client/bin
/Client/obj
/Common/bin
/Common/obj
/keys
/Server/Resources/0x200.d
/Server/bin
/Server/obj
